@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins";
}

.menu {
  width: 100%;
  height: 5rem;
  background-color: #c8c7ff;
  display: flex;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100%;
  background-color: #c8c7ff;
  top: 0;
  right: -300px;
  position: fixed;
}

.close {
  right: 0;
}

.nav-list {
  text-align: center;
}

.nav-item {
  margin: 1rem;
  font-size: 25px;
  list-style: none;
}

.hamburger {
  height: 25px;
  width: 30px;
  top: 30px;
  right: 50px;
  position: fixed;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: red;
}

.close .hamburger-line-1 {
  transform: translateY(7px) rotateZ(45deg);
}

.close .hamburger-line-2 {
  opacity: 0;
}

.close .hamburger-line-3 {
  transform: translateY(-9px) rotateZ(-45deg);
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.createAccount .pageCounter {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.createAccount .pageCounter .line {
  width: 100%;
  height: 3px;
  background: #b6b5fc;
  position: absolute;
  top: 85%;
  z-index: -1;
}
.createAccount .pageCounter ul {
  width: 100%;
  margin: 0rem;
  padding: 0rem;
  display: flex;
  justify-content: space-between;
}
.createAccount .pageCounter ul li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  list-style: none;
}
.createAccount .steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createAccount .steps .bankContianer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.createAccount .steps img {
  width: 80%;
}
.createAccount .steps h2 {
  width: 80%;
  text-align: center;
}
.createAccount .steps .rangeContainer {
  padding: 1rem;
  border: #c8c7ff 5px solid;
  border-radius: 1rem;
  margin: 1rem;
}
.createAccount .steps input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  height: 10px;
  background: #c8c7ff;
  /* Otherwise white in Chrome */
  border-radius: 5rem;
}
.createAccount .steps input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: black;
}
.createAccount .steps input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
.createAccount .steps input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.createAccount .steps .radioContainer {
  padding: 1rem;
  border: #c8c7ff 5px solid;
  border-radius: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
.createAccount .steps .pageNav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.createAccount .steps .pageNav .next img {
  transform: rotate(180deg);
}
.createAccount button {
  border: none;
  border-radius: 6px;
  background: #4e0ea1;
  color: white;
  font-size: 2rem;
  padding: 1rem;
}
