@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins";
}

.menu {
  width: 100%;
  height: 4rem;
  background-color: #c8c7ff;
  display: flex;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100%;
  background-color: #c8c7ff;
  top: 0;
  right: -300px;
  position: fixed;
  z-index: 10;
}
.navbar .desktop-nav {
  display: none;
}
@media (min-width: 600px) {
  .navbar .desktop-nav {
    display: block;
  }
}

.close {
  right: 0;
}

.nav-list {
  text-align: center;
}
@media (min-width: 600px) {
  .nav-list {
    display: none;
  }
}

.nav-item {
  margin: 1rem;
  font-size: 25px;
  list-style: none;
}
@media (min-width: 600px) {
  .nav-item {
    display: none;
  }
}

.hamburger {
  height: 25px;
  width: 30px;
  top: 20px;
  right: 50px;
  position: fixed;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
@media (min-width: 600px) {
  .hamburger {
    display: none;
  }
}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: red;
}
@media (min-width: 600px) {
  .hamburger-line {
    display: none;
  }
}

.close .hamburger-line-1 {
  transform: translateY(7px) rotateZ(45deg);
}

.close .hamburger-line-2 {
  opacity: 0;
}

.close .hamburger-line-3 {
  transform: translateY(-9px) rotateZ(-45deg);
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.createAccount .pageCounter {
  width: 50%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.createAccount .pageCounter .line {
  width: 100%;
  height: 3px;
  background: #b6b5fc;
  position: absolute;
  top: 62%;
  z-index: -1;
}
.createAccount .pageCounter ul {
  width: 100%;
  margin: 0rem;
  padding: 0rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
.createAccount .pageCounter ul li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #c8c7ff;
  list-style: none;
}
.createAccount .steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createAccount .steps .bankContianer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.createAccount .steps img {
  width: 80%;
}
.createAccount .steps h2 {
  width: 80%;
  text-align: center;
}
.createAccount .steps .inputContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.createAccount .steps .inputContainer #image {
  display: none;
}
.createAccount .steps .inputContainer label {
  width: 10rem;
  height: 10rem;
  background: #4e0ea1;
  border-radius: 0.5rem;
  cursor: pointer;
}
.createAccount .steps .inputContainer img {
  position: absolute;
  top: 4.5rem;
  width: 6rem;
  cursor: pointer;
}
.createAccount .steps .rangeContainer {
  padding: 1rem;
  border: #c8c7ff 5px solid;
  border-radius: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.createAccount .steps input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  height: 10px;
  background: #c8c7ff;
  /* Otherwise white in Chrome */
  border-radius: 5rem;
}
.createAccount .steps input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: black;
}
.createAccount .steps input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
.createAccount .steps input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.createAccount .steps .radioContainer {
  width: 90%;
  padding: 1rem;
  border: #c8c7ff 5px solid;
  border-radius: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.createAccount .steps .radioContainer .question {
  margin: 1rem;
}
.createAccount .steps .radioContainer p {
  text-align: center;
}
.createAccount .steps .radioContainer section {
  display: flex;
}
.createAccount .steps .radioContainer section .radioButton {
  width: 3rem;
  margin: 0.1rem;
}
.createAccount .steps .radioContainer .radioButton {
  width: 5rem;
  height: 3rem;
  border: solid black 2px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createAccount .steps .radioContainer :checked + label {
  background: #c8c7ff;
}
.createAccount .steps .radioContainer input {
  display: none;
}
.createAccount .steps .pageNav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.createAccount .steps .pageNav .next img {
  transform: rotate(180deg);
}
.createAccount button {
  border: none;
  border-radius: 6px;
  background: #4e0ea1;
  color: white;
  font-size: 2rem;
  padding: 1rem;
}
