.createAccount {
  width: 100%;
}
.createAccount .stepOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50rem;
}
.createAccount .stepOne .bankContianer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}
.createAccount .stepOne img {
  width: 80%;
}
.createAccount .stepOne h2 {
  width: 60%;
  text-align: center;
}
.createAccount .stepOne .pageNav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.createAccount .stepOne .pageNav .next img {
  transform: rotate(180deg);
}
.createAccount button {
  border: none;
  border-radius: 6px;
  background: #4e0ea1;
  color: white;
  font-size: 2rem;
  padding: 1rem;
}
