.sectionDone {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-animation: done 3s;
          animation: done 3s;
}
.sectionDone button {
  margin: 1rem;
}

@-webkit-keyframes done {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes done {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
