@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins";
  background-color: #fdfdfd;
}

.menu {
  width: 100%;
  height: 6rem;
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
}
.menu .desktop-nav {
  display: none;
}
@media (min-width: 1020px) {
  .menu .desktop-nav {
    display: block;
    color: black;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
.menu .desktop-nav li {
  list-style: none;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: #2f2f2f;
}
.menu .desktop-nav li:hover {
  font-weight: bolder;
  color: black;
}
.menu .logo {
  padding: 10px;
}
@media (min-width: 1020px) {
  .menu .logo {
    padding: 5px;
    margin-left: 1%;
  }
}
.menu h1 {
  color: black;
  font-family: "Poppins";
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1020px) {
  .menu h1 {
    font-size: 38px;
    margin-left: 1%;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  height: 100%;
  background-color: #fdfdfd;
  top: 0rem;
  padding: 71px;
  margin-left: 20rem;
  right: -400px;
  position: fixed;
  z-index: 1;
}
@media (min-width: 600px) {
  .navbar {
    padding: 78px;
  }
}
.navbar p {
  font-size: 14px;
}

.close {
  right: 0;
}

.nav-list {
  text-align: center;
  padding: 20px;
}
@media (min-width: 1020px) {
  .nav-list {
    display: none;
  }
}
.nav-list hr {
  border: 1px solid #4e0ea1;
  margin-top: 1%;
}
.nav-list li {
  cursor: pointer;
  color: #2f2f2f;
}
.nav-list li:hover {
  font-weight: bolder;
  color: black;
}

.nav-item {
  margin: 1rem;
  font-size: 25px;
  list-style: none;
}
@media (min-width: 1020px) {
  .nav-item {
    display: none;
  }
}

.hamburger {
  height: 25px;
  width: 30px;
  top: 35px;
  right: 50px;
  position: fixed;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
@media (min-width: 1020px) {
  .hamburger {
    display: none;
  }
}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: #4e0ea1;
}
@media (min-width: 1020px) {
  .hamburger-line {
    display: none;
  }
}

.close .hamburger-line-1 {
  transform: translateY(7px) rotateZ(45deg);
}

.close .hamburger-line-2 {
  opacity: 0;
}

.close .hamburger-line-3 {
  transform: translateY(-9px) rotateZ(-45deg);
}

.hero-section {
  background-image: url("/images/hero-mobile.png");
  height: 60rem;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  box-shadow: inset 1px 2px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 600px) {
  .hero-section {
    background-image: url("/images/hero-desktop.png");
    background-repeat: no-repeat;
    height: 30rem;
    position: -webkit-sticky;
    position: sticky;
    background-size: contain;
  }
}
@media (min-width: 1020px) {
  .hero-section {
    background-image: url("/images/hero-desktop.png");
    background-repeat: no-repeat;
    position: -webkit-sticky;
    position: sticky;
    background-size: contain;
    height: 30rem;
  }
}
@media (min-width: 1439px) {
  .hero-section {
    height: 38rem;
  }
}
.hero-section h2 {
  font-family: "Poppins";
  font-size: 34px;
  text-align: left;
  padding-top: 2rem;
  margin-left: 1.5rem;
}
@media (min-width: 600px) {
  .hero-section h2 {
    font-size: 30px;
  }
}
@media (min-width: 1020px) {
  .hero-section h2 {
    font-size: 50px;
  }
}
.hero-section h3 {
  font-family: "Poppins";
  font-size: 28px;
  text-align: left;
  margin-left: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 600px) {
  .hero-section h3 {
    font-size: 20px;
  }
}
@media (min-width: 1020px) {
  .hero-section h3 {
    font-size: 40px;
  }
}
.hero-section p {
  font-family: "Poppins";
  font-size: 1.2rem;
  margin-left: 1.5rem;
  margin-right: 1rem;
  text-align: left;
}
@media (min-width: 600px) {
  .hero-section p {
    font-size: 1rem;
  }
}
@media (min-width: 600px) {
  .hero-section .hero-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    margin-left: 1rem;
    width: 35rem;
  }
}
@media (min-width: 1439px) {
  .hero-section .hero-button {
    margin-top: 2rem;
  }
}
.hero-section .hero-button button {
  background-color: #c8c7ff;
  color: black;
  font-family: "Poppins";
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;
  border-radius: 12px;
  border: none;
  width: 15rem;
  margin-top: 1rem;
  cursor: pointer;
}
@media (min-width: 600px) {
  .hero-section .hero-button button {
    background-color: #c8c7ff;
    color: black;
    font-family: "Poppins";
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;
    border-radius: 12px;
    border: none;
    margin-right: 1rem;
  }
}
.hero-section .hero-button button:hover {
  box-shadow: 0px 3px 6px rgba(47, 47, 47, 0.6);
}
.hero-section .hero-button button:active {
  transform: scale(0.98);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
  font-family: "Poppins";
  font-size: 1.2rem;
}

button {
  background-color: #c8c7ff;
  color: black;
  font-family: "Poppins";
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;
  border-radius: 12px;
  border: none;
  width: 15rem;
  display: grid;
  grid-row-start: 1;
  margin-left: 2%;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 3px 6px rgba(47, 47, 47, 0.6);
}

button:active {
  transform: scale(0.98);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.how-to-section {
  height: 100vh;
}
@media (min-width: 600px) {
  .how-to-section {
    height: 40rem;
  }
}
.how-to-section .how-to {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}
@media (min-width: 1020px) {
  .how-to-section .how-to {
    flex-direction: column;
    position: absolute;
    left: 18rem;
  }
}
@media (min-width: 1439px) {
  .how-to-section .how-to {
    left: 22rem;
  }
}
.how-to-section .how-to .how-to-wrapper {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1020px) {
  .how-to-section .how-to .how-to-wrapper {
    transform: rotate(90deg);
  }
}
.how-to-section .how-to .how-to-wrapper .circle {
  width: 55px;
  height: 55px;
  background: #4e0ea1;
  border-radius: 100px;
  position: relative;
  margin: 0 auto 0 auto;
}
.how-to-section .how-to .how-to-wrapper h3 {
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #fff;
}
@media (min-width: 1020px) {
  .how-to-section .how-to .how-to-wrapper h3 {
    display: none;
  }
}
.how-to-section .how-to .how-to-wrapper .hide {
  display: none;
}
@media (min-width: 1020px) {
  .how-to-section .how-to .how-to-wrapper .hide {
    position: absolute;
    font-size: 2rem;
    color: white;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
    margin: 0;
  }
}
.how-to-section .how-to .how-to-wrapper .vertical-line {
  width: 2px;
  height: 60px;
  background: #c8c7ff;
  margin: 0 auto 0 auto;
}
@media (min-width: 1020px) {
  .how-to-section .how-to .how-to-wrapper .vertical-line {
    height: 160px;
  }
}
.how-to-section .how-to .how-to-steps {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 66%;
}
@media (min-width: 1020px) {
  .how-to-section .how-to .how-to-steps {
    width: 40%;
    display: none;
  }
}
.how-to-section .how-to .how-to-desktop {
  display: none;
}
@media (min-width: 1020px) {
  .how-to-section .how-to .how-to-desktop {
    display: block;
    display: flex;
    height: 20rem;
    width: 100%;
  }
}
@media (min-width: 1020px) {
  .how-to-section .how-to .desktop-steps {
    display: flex;
    width: 35rem;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: absolute;
    top: 3rem;
    left: -15rem;
  }
}
@media (min-width: 1020px) {
  .how-to-section .how-to .desktop-steps-2 {
    display: flex;
    width: 15rem;
    position: absolute;
    top: 18rem;
    left: -3.5rem;
  }
}
@media (min-width: 1020px) {
  .how-to-section .how-to .right-text {
    margin-left: 19rem;
  }
}
.how-to-section .register-now {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 600px) {
  .how-to-section .register-now {
    margin-bottom: 2rem;
  }
}
@media (min-width: 1020px) {
  .how-to-section .register-now {
    align-items: flex-end;
  }
}
.how-to-section .register-now button {
  margin-top: 2rem;
}
@media (min-width: 1020px) {
  .how-to-section .register-now button {
    position: absolute;
    top: 70rem;
    left: 24rem;
  }
}
@media (min-width: 1439px) {
  .how-to-section .register-now button {
    top: 78rem;
    left: 36rem;
  }
}
@media (min-width: 1020px) {
  .how-to-section .register-now .register-now-img {
    margin-top: 2rem;
    margin-right: 0rem;
  }
}
@media (min-width: 1439px) {
  .how-to-section .register-now .register-now-img {
    margin-top: 3rem;
    margin-right: 7rem;
  }
}
.how-to-section h2 {
  font-family: "Poppins";
  color: #4e0ea1;
  font-size: 35px;
  padding-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}
@media (min-width: 600px) {
  .how-to-section h2 {
    font-size: 40px;
    z-index: -1;
  }
}
.how-to-section p {
  font-family: "Poppins";
  font-size: 1.2rem;
}

.find-residence-font {
  font-size: 35px;
  color: #4e0ea1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 12rem;
}
@media (min-width: 600px) {
  .find-residence-font {
    margin-top: 20rem;
  }
}
@media (min-width: 1020px) {
  .find-residence-font {
    margin-top: 6rem;
    font-size: 40px;
  }
}

.find-residence-section {
  width: 100%;
  margin-top: 3rem;
  padding: 2rem;
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(3, 1fr);
  grid-gap: 1rem;
}
@media (max-width: 800px) {
  .find-residence-section {
    grid-template: repeat(1, 1fr)/repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .find-residence-section {
    grid-template: repeat(1, 1fr)/repeat(1, 1fr);
  }
}
@media (min-width: 600px) {
  .find-residence-section {
    margin-top: 3rem;
  }
}
@media (min-width: 1020px) {
  .find-residence-section {
    margin-top: 5rem;
  }
}
.find-residence-section .residence-container {
  width: 100%;
  padding: 0.5rem;
  margin: 0;
  margin-bottom: 5%;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.156);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(78, 78, 78, 0.212);
}
@media (min-width: 600px) {
  .find-residence-section .residence-container {
    padding: 0.5rem;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.156);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.find-residence-section .residence-container img {
  width: 100%;
  margin-bottom: 0.8rem;
  border-radius: 0.8rem;
  box-shadow: 0px 5px 3px 3px rgba(0, 0, 0, 0.077);
}
@media (min-width: 600px) {
  .find-residence-section .residence-container img {
    width: 100%;
    margin-bottom: 0.8rem;
    border-radius: 0.8rem;
    box-shadow: 0px 5px 3px 3px rgba(0, 0, 0, 0.077);
  }
}

.footer-img {
  height: 15rem;
  width: 100%;
  background-image: url("/images/footer-desktop.png");
  background-repeat: no-repeat;
  position: -webkit-sticky;
  position: sticky;
  background-size: cover;
}
@media (min-width: 600px) {
  .footer-img {
    background-repeat: no-repeat;
    position: -webkit-sticky;
    position: sticky;
    background-size: cover;
    height: 28rem;
  }
}

footer {
  height: 40rem;
  background-color: #c8c7ff;
  display: grid;
  align-items: center;
}
@media (min-width: 600px) {
  footer {
    height: 20rem;
  }
}
footer .wrapper {
  height: 30rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 0;
}
@media (min-width: 600px) {
  footer .wrapper {
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
}
footer .wrapper .box-1 {
  text-align: center;
  padding: 5%;
}
@media (min-width: 600px) {
  footer .wrapper .box-1 {
    text-align: left;
  }
}
footer .wrapper .box-2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 5%;
  text-align: center;
}
@media (min-width: 600px) {
  footer .wrapper .box-2 {
    text-align: left;
  }
}
footer .wrapper .box-2 a {
  color: black;
  font-size: 1.2rem;
  padding: 2px;
}
footer .wrapper .box-2 a:hover {
  color: grey;
}
footer .wrapper .box-3 {
  justify-items: center;
  padding: 5%;
}
footer button {
  background-color: white;
  color: #4e0ea1;
  font-weight: bolder;
  margin-top: 1rem;
  width: 100%;
}
