$hello: "pink";
$primary-purple: #4e0ea1;
$light-purple: #c8c7ff;
$primary-font: "Poppins";

.createAccount {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pageCounter {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        .line {
            width: 100%;
            height: 3px;
            background: #b6b5fc;

            position: absolute;
            top: 85%;
            z-index: -1;
        }

        ul {
            width: 100%;
            margin: 0rem;
            padding: 0rem;
            display: flex;
            justify-content: space-between;
            li {
                width: 20px;
                height: 20px;
                border-radius: 100%;

                background: $light-purple;
                list-style: none;
            }
        }
    }

    form {
    }

    .steps {
        display: flex;
        flex-direction: column;
        align-items: center;

        .bankContianer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 4rem;
        }

        img {
            width: 80%;
        }

        h2 {
            width: 80%;
            text-align: center;
        }

        .pageNav {
            width: 50%;
            display: flex;
            justify-content: space-between;

            .next {
                img {
                    transform: rotate(180deg);
                }
            }
        }

        margin-bottom: 50rem;
    }

    button {
        border: none;
        border-radius: 6px;
        background: $primary-purple;
        color: white;
        font-size: 2rem;
        padding: 1rem;
    }
}
