// import google fonts
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);

// variables
$hello: "pink";
$primary-purple: #4e0ea1;
$light-purple: #c8c7ff;
$primary-font: "Poppins";
$button-font-size: 1.2rem;
$p-font-size: 1.2rem;
$white: #fdfdfd;
$black: #2f2f2f;

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: $primary-font;
    background-color: $white;
}

// nav-styling
.menu {
    width: 100%;
    height: 6rem;
    background-color: $white;
    display: flex;
    align-items: center;

    .desktop-nav {
        display: none;

        @media (min-width: 1020px) {
            display: block;
            color: black;
            width: 100%;
            height: 5rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

        li {
            list-style: none;
            margin-left: 1rem;
            margin-right: 1rem;
            font-size: $p-font-size;
            cursor: pointer;
        }
    }

    .logo {
        padding: 10px;

        @media (min-width: 1020px) {
            padding: 5px;
        }
    }

    h1 {
        color: black;
        font-family: $primary-font;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 1020px) {
            font-size: 38px;
            margin-left: 1%;
        }
    }
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
    height: 100%;
    background-color: $white;
    top: 0rem;
    right: -400px;
    position: fixed;
    z-index: 1;

    // button {
    //     display: none;

    //     @media (min-width: 600px) {
    //         display: block;
    //         color: black;
    //     }
    // }
}

.close {
    right: 0;
}

.nav-list {
    text-align: center;

    @media (min-width: 1020px) {
        display: none;
    }
}

.nav-item {
    margin: 1rem;
    font-size: 25px;
    list-style: none;

    @media (min-width: 1020px) {
        display: none;
    }
}

.hamburger {
    height: 25px;
    width: 30px;
    top: 35px;
    right: 50px;
    position: fixed;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    @media (min-width: 1020px) {
        display: none;
    }
}

.hamburger-line {
    width: 100%;
    height: 3px;
    background-color: $primary-purple;

    @media (min-width: 1020px) {
        display: none;
    }
}

.close .hamburger-line-1 {
    transform: translateY(7px) rotateZ(45deg);
}

.close .hamburger-line-2 {
    opacity: 0;
}

.close .hamburger-line-3 {
    transform: translateY(-9px) rotateZ(-45deg);
}
