// import google fonts
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);

// variables
$hello: "pink";
$primary-purple: #4e0ea1;
$light-purple: #c8c7ff;
$primary-font: "Poppins";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: $primary-font;
}

// nav-styling
.menu {
    width: 100%;
    height: 100vh;
    background-color: $light-purple;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    background-color: $light-purple;
    top: 0;
    right: -200px;
    position: fixed;
}

.close {
    right: 0;
}

.nav-list {
    text-align: center;
}

.nav-item {
    margin: 1rem;
    font-size: 25px;
    list-style: none;
}

.hamburger {
    height: 25px;
    width: 30px;
    top: 50px;
    right: 50px;
    position: fixed;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.hamburger-line {
    width: 100%;
    height: 3px;
    background-color: red;
}

.close .hamburger-line-1 {
    transform: translateY(7px) rotateZ(45deg);
}

.close .hamburger-line-2 {
    opacity: 0;
}

.close .hamburger-line-3 {
    transform: translateY(-9px) rotateZ(-45deg);
}
