@import "app";

h1 {
    color: $primary-purple;
    font-family: $primary-font;
    margin-top: 0;
    padding-top: 10%;
    padding-left: 4%;
}

.nav-container {
    height: 4rem;
    background-color: $light-purple;
    position: relative;
    display: flex;
    align-items: center;
}

h2 {
    color: $primary-purple;
    font-family: $primary-font;
    text-align: center;
}

p {
    font-family: $primary-font;
    font-size: $p-font-size;
    padding-left: 2%;
}

button {
    background-color: $primary-purple;
    color: white;
    font-family: $primary-font;
    font-size: $button-font-size;
    padding: 10px;
    margin-top: 1rem;
    // text-align: center;
    text-decoration: none;
    border-radius: 12px;
    border: none;
    width: 15rem;
    display: grid;
    grid-row-start: 1;
    margin-left: 2%;
}

.guide-container {
    display: grid;
    grid-template-columns: 1fr (2fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.circles {
    border-radius: 50%;
    background-color: $primary-purple;
    width: 2.7rem;
    height: 2.7rem;
}

// footer

footer {
    height: 30rem;
    background-color: $light-purple;
    display: grid;
    align-items: center;

    @media (min-width: 600px) {
        height: 20rem;
    }

    .wrapper {
        height: 20rem;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        margin: 0;

        @media (min-width: 600px) {
            height: 10rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            justify-items: center;
        }

        .box-1 {
            text-align: center;

            @media (min-width: 600px) {
                text-align: left;
            }
        }
        .box-2 {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;

            @media (min-width: 600px) {
                text-align: left;
            }
        }

        .box-2 a {
            color: black;
        }
        .box-2 a:hover {
            color: grey;
        }

        .box-3 {
            justify-items: center;
        }
    }
}
