@import "app";

.hero-section {
    background-image: url("/images/hero-mobile.png");
    height: 60rem;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    box-shadow: inset 1px 2px 0px rgba(0, 0, 0, 0.2);

    @media (min-width: 600px) {
        background-image: url("/images/hero-desktop.png");
        background-repeat: no-repeat;
        height: 30rem;
        width: 100vw;
        position: sticky;
        background-size: contain;
    }

    @media (min-width: 1020px) {
        background-image: url("/images/hero-desktop.png");
        background-repeat: no-repeat;
        width: 100vw;
        position: sticky;
        background-size: contain;
        height: 30rem;
    }

    @media (min-width: 1439px) {
        height: 38rem;
    }

    h2 {
        font-family: $primary-font;
        font-size: 34px;
        text-align: left;
        padding-top: 2rem;
        margin-left: 1.4rem;

        @media (min-width: 600px) {
            font-size: 30px;
        }
        @media (min-width: 1020px) {
            font-size: 50px;
        }
    }

    h3 {
        font-family: $primary-font;
        font-size: 28px;
        text-align: left;
        margin-left: 1.4rem;
        padding-bottom: 1rem;

        @media (min-width: 600px) {
            font-size: 20px;
        }

        @media (min-width: 1020px) {
            font-size: 40px;
        }
    }

    p {
        font-family: $primary-font;
        font-size: $p-font-size;
        margin-left: 1.6rem;
        text-align: left;

        @media (min-width: 600px) {
            font-size: 1rem;
        }
    }

    .hero-button {
        @media (min-width: 600px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: start;
            margin-left: 1rem;
            width: 35rem;
        }

        button {
            background-color: $light-purple;
            color: black;
            font-family: $primary-font;
            font-size: $button-font-size;
            padding: 10px;
            text-decoration: none;
            border-radius: 12px;
            border: none;
            width: 15rem;
            margin-top: 1rem;
            cursor: pointer;

            @media (min-width: 600px) {
                background-color: $light-purple;
                color: black;
                font-family: $primary-font;
                font-size: $button-font-size;
                padding: 10px;
                text-decoration: none;
                border-radius: 12px;
                border: none;
                margin-right: 1rem;
            }
        }

        button:hover {
            box-shadow: 0px 3px 6px rgba(47, 47, 47, 0.6);
        }

        button:active {
            transform: scale(0.98);
            box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5);
        }
    }
}

p {
    font-family: $primary-font;
    font-size: $p-font-size;
}

button {
    background-color: $light-purple;
    color: black;
    font-family: $primary-font;
    font-size: $button-font-size;
    padding: 10px;
    text-decoration: none;
    border-radius: 12px;
    border: none;
    width: 15rem;
    display: grid;
    grid-row-start: 1;
    margin-left: 2%;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 3px 6px rgba(47, 47, 47, 0.6);
}

button:active {
    transform: scale(0.98);
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5);
}

// start section 2

.how-to-section {
    height: 100vh;

    @media (min-width: 600px) {
        height: 40rem;
    }

    .how-to {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 5rem;

        @media (min-width: 1020px) {
            flex-direction: column;
            position: absolute;
            left: 18rem;
        }
        @media (min-width: 1439px) {
            left: 22rem;
        }

        .how-to-wrapper {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;

            @media (min-width: 1020px) {
                transform: rotate(90deg);
            }

            .circle {
                width: 55px;
                height: 55px;
                background: $primary-purple;
                border-radius: 100px;
                position: relative;
                margin: 0 auto 0 auto;

                @media (min-width: 600px) {
                }
            }

            h3 {
                position: absolute;
                font-size: 2rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
                color: #fff;

                @media (min-width: 1020px) {
                    display: none;
                }
            }

            .hide {
                display: none;

                @media (min-width: 1020px) {
                    position: absolute;
                    font-size: 2rem;
                    color: white;
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(270deg);
                    margin: 0;
                }
            }

            .vertical-line {
                width: 2px;
                height: 60px;
                background: $light-purple;
                margin: 0 auto 0 auto;

                // @media (min-width: 600px) {
                //     height: 130px;
                // }
                @media (min-width: 1020px) {
                    height: 160px;
                }
            }
        }

        .how-to-steps {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 66%;

            @media (min-width: 1020px) {
                width: 40%;
                display: none;
            }
        }
        .how-to-desktop {
            display: none;

            @media (min-width: 1020px) {
                display: block;
                display: flex;
                height: 20rem;
                width: 100%;
            }
        }

        .desktop-steps {
            @media (min-width: 1020px) {
                display: flex;
                width: 35rem;
                justify-content: space-between;
                flex-wrap: nowrap;
                position: absolute;
                top: 3rem;
                left: -15rem;
            }
        }

        .desktop-steps-2 {
            @media (min-width: 1020px) {
                display: flex;
                width: 15rem;
                position: absolute;
                top: 18rem;
                left: -3.5rem;
            }
        }

        .right-text {
            @media (min-width: 1020px) {
                margin-left: 19rem;
            }
        }
    }

    .register-now {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media (min-width: 600px) {
            margin-bottom: 2rem;
        }

        @media (min-width: 1020px) {
            align-items: flex-end;
        }

        button {
            margin-top: 2rem;

            @media (min-width: 1020px) {
                position: absolute;
                top: 70rem;
                left: 24rem;
            }

            @media (min-width: 1439px) {
                top: 78rem;
                left: 36rem;
            }
        }

        .register-now-img {
            @media (min-width: 1020px) {
                margin-top: 2rem;
                margin-right: 0rem;
            }

            @media (min-width: 1439px) {
                margin-top: 3rem;
                margin-right: 7rem;
            }
        }
    }

    h2 {
        font-family: $primary-font;
        font-size: 35px;
        padding-top: 2rem;
        margin-bottom: 1rem;
        text-align: center;

        @media (min-width: 600px) {
            z-index: -1;
        }
    }

    p {
        font-family: $primary-font;
        font-size: $p-font-size;
    }
}

// residence-cards

.find-residence-font {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 12rem;

    @media (min-width: 600px) {
        margin-top: 20rem;
    }

    @media (min-width: 1020px) {
        margin-top: 6rem;
    }
}

.find-residence-section {
    width: 100%;
    margin-top: 3rem;
    padding: 2rem;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 1rem;

    @media (max-width: 800px) {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }

    @media (max-width: 500px) {
        grid-template: repeat(6, 1fr) / repeat(1, 1fr);
    }

    @media (min-width: 600px) {
        margin-top: 3rem;
    }

    @media (min-width: 1020px) {
        margin-top: 5rem;
    }

    .residence-container {
        width: 100%;
        padding: 0.5rem;
        margin: 0;
        margin-bottom: 5%;
        box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.156);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(78, 78, 78, 0.212);

        @media (min-width: 600px) {
            padding: 0.5rem;
            box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.156);
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 100%;

            margin-bottom: 0.8rem;
            border-radius: 0.8rem;
            box-shadow: 0px 5px 3px 3px rgba(0, 0, 0, 0.077);

            @media (min-width: 600px) {
                width: 100%;
                margin-bottom: 0.8rem;
                border-radius: 0.8rem;
                box-shadow: 0px 5px 3px 3px rgba(0, 0, 0, 0.077);
            }
        }
    }
}

// footer

.footer-img {
    height: 15rem;
    width: 100%;
    background-image: url("/images/footer-desktop.png");
    background-repeat: no-repeat;
    position: sticky;
    background-size: cover;

    @media (min-width: 600px) {
        background-repeat: no-repeat;
        width: 100vw;
        position: sticky;
        background-size: cover;
        height: 28rem;
    }
}

footer {
    height: 40rem;
    background-color: $light-purple;
    display: grid;
    align-items: center;

    @media (min-width: 600px) {
        height: 20rem;
    }

    .wrapper {
        height: 30rem;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        margin: 0;

        @media (min-width: 600px) {
            height: 10rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            justify-items: center;
        }

        .box-1 {
            text-align: center;
            padding: 5%;

            @media (min-width: 600px) {
                text-align: left;
            }
        }
        .box-2 {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            padding: 5%;
            text-align: center;

            @media (min-width: 600px) {
                text-align: left;
            }
        }

        .box-2 a {
            color: black;
            font-size: $p-font-size;
            padding: 2px;
        }
        .box-2 a:hover {
            color: grey;
        }

        .box-3 {
            justify-items: center;
            padding: 5%;
        }
    }

    button {
        background-color: white;
        color: $primary-purple;
        font-weight: bolder;
        margin-top: 1rem;
    }
}
