@import "app";

h1 {
    color: black;
    font-family: $primary-font;
    margin-top: 0;
    padding-top: 10%;
    padding-left: 4%;
}

.hero-section {
    background-image: url("/images/start.jpeg");
    height: 40rem;
    background-repeat: no-repeat;
}

.nav-container {
    height: 4rem;
    background-color: $light-purple;
    position: relative;
    display: flex;
    align-items: center;
}

h2 {
    font-family: $primary-font;
    text-align: center;
}

p {
    font-family: $primary-font;
    font-size: $p-font-size;
    padding-left: 2%;
}

button {
    background-color: $light-purple;
    color: black;
    font-family: $primary-font;
    font-size: $button-font-size;
    padding: 10px;
    margin-top: 1rem;
    // text-align: center;
    text-decoration: none;
    border-radius: 12px;
    border: none;
    width: 15rem;
    display: grid;
    grid-row-start: 1;
    margin-left: 2%;
}

// start section 2

.how-to-section {
    height: 100vh;

    .how-to {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 5rem;
        margin-bottom: 5rem;

        .how-to-wrapper {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;

            @media (min-width: 600px) {
                transform: rotate(90deg);
            }

            .circle {
                width: 55px;
                height: 55px;
                background: $primary-purple;
                border-radius: 100px;
                position: relative;
                margin: 0 auto 0 auto;

                @media (min-width: 600px) {
                }
            }

            h3 {
                position: absolute;
                font-size: 2rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
                color: #fff;

                @media (min-width: 600px) {
                    display: none;
                }
            }

            .hide {
                display: none;

                @media (min-width: 600px) {
                    position: absolute;
                    font-size: 2rem;
                    color: white;
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(270deg);
                    margin: 0;
                }
            }

            .vertical-line {
                width: 2px;
                height: 60px;
                background: $light-purple;
                margin: 0 auto 0 auto;

                @media (min-width: 600px) {
                    height: 120px;
                }
            }
        }

        .how-to-steps {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 66%;

            @media (min-width: 600px) {
                width: 20%;
            }
        }
    }

    .register-now {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

// residence-cards

.find-residence-section {
    width: 100%;
    margin-top: 8rem;
    padding: 2rem;

    .residence-container {
        width: 100%;
        padding: 0.5rem;
        margin: 0;
        margin-bottom: 5%;
        box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.156);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(78, 78, 78, 0.212);

        @media (min-width: 600px) {
            width: 30%;
            padding: 0.5rem;
            margin: 5rem;
            box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.156);
            border-radius: 1rem;
            display: flex;

            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 100%;

            margin-bottom: 0.8rem;
            border-radius: 0.8rem;
            box-shadow: 0px 5px 3px 3px rgba(0, 0, 0, 0.077);

            @media (min-width: 600px) {
                width: 100%;
                margin-bottom: 0.8rem;
                border-radius: 0.8rem;
                box-shadow: 0px 5px 3px 3px rgba(0, 0, 0, 0.077);
            }
        }
    }
}

// footer

footer {
    height: 40rem;
    background-color: $light-purple;
    display: grid;
    align-items: center;

    @media (min-width: 600px) {
        height: 20rem;
    }

    .wrapper {
        height: 30rem;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        margin: 0;

        @media (min-width: 600px) {
            height: 10rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            justify-items: center;
        }

        .box-1 {
            text-align: center;
            padding: 5%;

            @media (min-width: 600px) {
                text-align: left;
            }
        }
        .box-2 {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            padding: 5%;
            text-align: center;

            @media (min-width: 600px) {
                text-align: left;
            }
        }

        .box-2 a {
            color: black;
            font-size: $p-font-size;
            padding: 2px;
        }
        .box-2 a:hover {
            color: grey;
        }

        .box-3 {
            justify-items: center;
            padding: 5%;
        }
    }

    button {
        background-color: white;
        color: $primary-purple;
        font-weight: bolder;
    }
}
